In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

In [6]:
df = pd.read_csv('../data/sol.csv')
df['pred_y'] = MinMaxScaler().fit_transform(df[['pred_y']])

In [7]:
df.describe()

        Unnamed: 0       true_y       pred_y
count  1529.000000  1529.000000  1529.000000
mean    764.000000     0.022237     0.452776
std     441.528595     0.147501     0.161482
min       0.000000     0.000000     0.000000
25%     382.000000     0.000000     0.353590
50%     764.000000     0.000000     0.446477
75%    1146.000000     0.000000     0.561127
max    1528.000000     1.000000     1.000000

In [8]:
df

      Unnamed: 0  true_y    pred_y
0              0       0  0.383135
1              1       0  0.314396
2              2       0  0.407053
3              3       0  0.395989
4              4       0  0.365368
...          ...     ...       ...
1524        1524       0  0.730835
1525        1525       0  0.765970
1526        1526       1  0.762107
1527        1527       1  0.725381
1528        1528       0  0.611895

[1529 rows x 3 columns]

In [9]:
df.sort_values(by=['true_y', 'pred_y'], ascending=False)

      Unnamed: 0  true_y    pred_y
1301        1301       1  0.866982
280          280       1  0.812893
1526        1526       1  0.762107
193          193       1  0.727877
181          181       1  0.725747
...          ...     ...       ...
1342        1342       0  0.015606
1344        1344       0  0.011330
1332        1332       0  0.010908
1339        1339       0  0.007817
1333        1333       0  0.000000

[1529 rows x 3 columns]

In [10]:
from sklearn.metrics import ndcg_score
import numpy as np
ndcg_score([np.asarray(df['true_y'])], [np.asarray(df['pred_y'])])

0.47404944938070204

Попытка RankNet, кажется, я в чем-то ошибся. Скорее всего дело в архитектуре сети